@model ConferenceWebApp.Application.DTOs.Admin.AdminScheduleDTO

<h1>Редактировать запись в расписании</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Date"></label>
        <input asp-for="Date" class="form-control" type="date" />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="StartingTime"></label>
        <input asp-for="StartingTime" class="form-control" type="time" />
        <span asp-validation-for="StartingTime" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EndingTime"></label>
        <input asp-for="EndingTime" class="form-control" type="time" />
        <span asp-validation-for="EndingTime" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>

