@model ConferenceWebApp.Application.DTOs.Admin.AdminScheduleDTO
@{
    Layout = "_AdminLayout";
}
<h1 class="settings-title">Редактировать запись в расписании</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="settings-form-row">
        <div class="settings-form-group">
            <label asp-for="Date" class="settings-form-label">Дата</label>
            <input asp-for="Date" class="settings-form-input" type="date" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
    </div>

    <div class="settings-form-row">
        <div class="settings-form-group">
            <label asp-for="StartingTime" class="settings-form-label">Время начала</label>
            <input asp-for="StartingTime" class="settings-form-input" type="time" />
            <span asp-validation-for="StartingTime" class="text-danger"></span>
        </div>
    </div>

    <div class="settings-form-row">
        <div class="settings-form-group">
            <label asp-for="EndingTime" class="settings-form-label">Время окончания</label>
            <input asp-for="EndingTime" class="settings-form-input" type="time" />
            <span asp-validation-for="EndingTime" class="text-danger"></span>
        </div>
    </div>

    <div class="settings-form-row">
        <div class="settings-form-group">
            <label asp-for="Description" class="settings-form-label">Описание</label>
            <textarea asp-for="Description" class="settings-form-input"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>

    <div class="settings-form-actions">
        <button type="submit" class="settings-save-btn">Сохранить</button>
        <button type="button" class="settings-cancel-btn" onclick="window.history.back();">Отмена</button>
    </div>
</form>
