
@model ConferenceWebApp.Application.DTOs.ReportsDTOs.AddReportDTO
@{
    Layout = "_AdminLayout";
    var userId = Context.Request.Query["userId"].ToString(); // из маршрута
}

<h2>Добавить доклад</h2>

<form asp-action="AddReport" method="post" enctype="multipart/form-data">
    <input type="hidden" name="userId" value="@userId" />

    <div class="form-group">
        <label asp-for="ReportTheme">Тема доклада</label>
        <input asp-for="ReportTheme" class="form-control" />
        <span asp-validation-for="ReportTheme" class="text-danger"></span>
    </div>

    <div class="add-thesis-row">
        <div class="add-thesis-col">
            <label asp-for="Section" class="add-thesis-label">Тема секции</label>
            <select asp-for="Section" asp-items="Html.GetEnumSelectList<SectionTopic>()" class="add-thesis-select">
                <option value="">Выбрать</option>
            </select>
            <span asp-validation-for="Section" class="text-danger"></span>
        </div>
        <div class="add-thesis-col">
            <label asp-for="WorkType" class="add-thesis-label">Характер работы</label>
            <select asp-for="WorkType" asp-items="Html.GetEnumSelectList<WorkType>()" class="add-thesis-select">
                <option value="">Выбрать</option>
            </select>
            <span asp-validation-for="WorkType" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="File">Файл доклада (.doc/.docx)</label>
        <input type="file" asp-for="File" class="form-control" />
        <span asp-validation-for="File" class="text-danger"></span>
    </div>

    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Добавить</button>
        <a asp-action="UserReports" asp-route-id="@userId" class="btn btn-secondary">Отмена</a>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
