<footer class="footer-bar">
    <div class="footer-content">
        <div class="footer-left">
            <div class="footer-logo-block">
                <a class="footer-logo" href="/">
                    <img src="/images/Logo_header.svg" alt="Логотип" />
                    <span class="footer-logo-text">CONFERENCE 2025</span>
                </a>
            </div>
            <ul class="footer-menu">
                <li><a href="/About">О симпозиуме</a></li>
                <li><a href="/Committee">Организационный комитет</a></li>
                <li><a href="/Reports/Submit">Принятие докладов</a></li>
                <li><a href="/Proceedings">Труды симпозиума</a></li>
                <li><a href="/Statistics">Статистика</a></li>
                <li><a href="/Archive">Архив</a></li>
            </ul>
        </div>
        <div class="footer-right">
            <div class="footer-contact">
                <div class="footer-contact-group">
                    <div class="footer-contact-phone">
                        +375 (29) 000-00-00
                    </div>
                    <div class="footer-contact-title">
                        Квантовая электроника 2025<br />БГУ, Минск
                    </div>
                    <div class="footer-contact-email">
                        ctd@bsu.by
                    </div>
                </div>
            </div>

            <div class="footer-social">
                <a href="https://twitter.com/" target="_blank" rel="noopener" aria-label="Twitter">
                    <i class="bi bi-twitter"></i>
                </a>
                <a href="https://instagram.com/" target="_blank" rel="noopener" aria-label="Instagram">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="https://t.me/" target="_blank" rel="noopener" aria-label="Telegram">
                    <i class="bi bi-send"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <span>© 2024–2025 Имя</span>
        <a href="/Privacy" class="footer-privacy">Privacy Policy</a>
    </div>
</footer>
