@model IUserProfileViewModel

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/css/global.css" />
    <link rel="stylesheet" href="~/css/userinfoblock.css" />
    <link rel="stylesheet" href="~/css/footer.css" />
    <link rel="stylesheet" href="~/css/header.css" />
    <link rel="stylesheet" href="~/css/personalaccount.css" />
</head>
<body>
    @await Html.PartialAsync("_HeaderPA")

    <div class="up-gradient-pa-bg"></div>
    <div class="personal-account-layout">
        <aside class="personal-account-sidebar">
            @await Html.PartialAsync("_UserInfoBlock", Model.UserProfile)
        </aside>
        <div class="personal-account-main">
            @await Html.PartialAsync("_PersonalAccountTabs")
            <div class="personal-account-content-box">
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="down-gradient-bg"></div>

    @await Html.PartialAsync("_Footer")
    @await Html.PartialAsync("_ErrorModal")


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HoA5vBM4NtI+vrFica8FWHZcizxgxYkWwaRM42gnikI6jneih/7gToYtL6vhfV4C"
            crossorigin="anonymous"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
