<div id="sidebar" class="sidebar closed">
    <ul>
        <li>
            <a href="/About">
                <span class="sidebar-icon-wrap">
                    <img src="~/images/About_simp.svg" alt="О симпозиуме" class="sidebar-icon" />
                </span>
                <span class="sidebar-text">О симпозиуме</span>
            </a>
        </li>
        <li>
            <a href="/Committee/Index">
                <span class="sidebar-icon-wrap">
                    <img src="~/images/Committe.svg" alt="Организационный комитет" class="sidebar-icon" />
                </span>
                <span class="sidebar-text">Организационный комитет</span>
            </a>
        </li>
       @*  <li>
            <a href="/Reports/Index">
                <span class="sidebar-icon-wrap">
                    <img src="~/images/Reports.svg" alt="Принятые доклады" class="sidebar-icon" />
                </span>
                <span class="sidebar-text">Принятые доклады</span>
            </a>
        </li> *@
       @*  <li>
            <a href="/TrydiSimposium/Index">
                <span class="sidebar-icon-wrap">
                    <img src="~/images/TrydiSimp.svg" alt="Труды симпозиума" class="sidebar-icon" />
                </span>
                <span class="sidebar-text">Труды симпозиума</span>
            </a>
        </li> *@
        @* <li>
            <a href="/Statistics/Index">
                <span class="sidebar-icon-wrap">
                    <img src="~/images/Statistics.svg" alt="Статистика" class="sidebar-icon" />
                </span>
                <span class="sidebar-text">Статистика</span>
            </a>
        </li> *@
        <li>
            <a href="/Archive/Index">
                <span class="sidebar-icon-wrap">
                    <img src="~/images/Archive.svg" alt="Архив" class="sidebar-icon" />
                </span>
                <span class="sidebar-text">Архив</span>
            </a>
        </li>
    </ul>
</div>
