@using ConferenceWebApp.Application.DTOs.PersonalAccountDTOs
@model ChangePasswordDTO

@{
    Layout = "_SettingsLayout";
}

<h2>Смена пароля</h2>

<form asp-action="ChangePassword" method="post">
    <div class="settings-form-row">
        <div class="settings-form-group">
            <label asp-for="CurrentPassword" class="settings-form-label">Текущий пароль</label>
            <input asp-for="CurrentPassword" class="settings-form-input" placeholder="Введите текущий пароль" />
            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="settings-form-row">
        <div class="settings-form-group">
            <label asp-for="NewPassword" class="settings-form-label">Новый пароль</label>
            <input asp-for="NewPassword" class="settings-form-input" placeholder="Введите новый пароль" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="settings-form-row">
        <div class="settings-form-group">
            <label asp-for="ConfirmNewPassword" class="settings-form-label">Подтвердите новый пароль</label>
            <input asp-for="ConfirmNewPassword" class="settings-form-input" placeholder="Повторите новый пароль" />
            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="settings-form-actions">
        <button type="submit" class="settings-save-btn">Сменить пароль</button>
        <a href="/PersonalAccount" class="settings-cancel-btn">Отмена</a>
    </div>
</form>
