@{
    ViewData["Title"] = "Регистрация участника";
}

<h2>Регистрация участника</h2>
<p>@ViewBag.Message</p>
<a href="@Url.Action("Edit", "PersonalAccount")" class="btn btn-primary">Заполнить личную информацию</a>
