@model ConferenceWebApp.Application.Views.About.IndexModel
<link rel="stylesheet" href="~/css/about.css" />
<link rel="stylesheet" href="~/css/global.css" />
<link rel="stylesheet" href="~/css/mainpage.css" />
<div class="up-banner"></div>

<div class="up-banner-oval">
    <span class="up-banner-title">О симпозиуме</span>
</div>


<div class="symposium-info-inner">
    <div class="symposium-info-title-block">
        <div class="title-purple">
            ЕЖЕГОДНЫЙ<br /><span class="title-black">
                МЕЖДУНАРОДНЫЙ<br />
                СИМПОЗИУМ
            </span>
        </div>
    </div>
    <div class="symposium-info-text">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <p>
            Tempor orci dapibus ultrices in iaculis nunc. Enim tortor at auctor urna nunc id cursus. Sem integer vitae justo eget magna fermentum iaculis. Sed sed risus pretium quam vulputate dignissim suspendisse in est. Etiam sit amet nisl purus. Ornare lectus sit amet est placerat. Sagittis eu volutpat odio facilisis mauris sit amet.
        </p>
        <p>
            Vitae ultricies leo integer malesuada nunc vel risus commodo. Imperdiet proin fermentum leo vel. Id cursus metus aliquam eleifend. Morbi tristique senectus et netus et.
        </p>
    </div>
</div>

<div class="atom-info-block">
<img src="/images/atom.svg" alt="Атом" class="atom-info-img" />
<div class="atom-info-text">
    <span class="atom-info-accent">Lorem ipsum dolor</span> sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Lorem ipsum dolor sit <span class="atom-info-accent">amet consectetur</span> adipiscing elit pellentesque habitant.
    Ut placerat orci nulla pellentesque.
    <span class="atom-info-accent">Vel turpis nunc eget</span> lorem dolor.
    Tristique senectus et netus et. Nulla aliquet porttitor lacus luctus.
</div>
</div>

<div class="slogan-block">
<div class="slogan-text">
    <span class="slogan-line">“Я ПИКМИ”</span>
    <span class="slogan-line">ЛОЗУНГ ЛОЗУНГ.</span>
</div>
</div>

<div class="sections-gradient-wrapper">
    <div class="sections-block">
        <div class="info-title-block-center">
            <div class="title-purple">
                СЕКЦИИ<br /><span class="title-black">КОНФЕРЕНЦИИ</span>
            </div>
        </div>
        <div class="section-list">
            <div class="section-item">
                <div class="section-number">
                    <span class="section-digit">01</span>
                </div>
                <div>
                    <div class="section-name">Системы и методы квантовой электроники</div>
                    <div class="text-typography">
                        Исследования и разработки, направленные на создание и оптимизацию квантово-электронных устройств, методов генерации и управления квантовыми состояниями.
                    </div>
                </div>
            </div>
            <div class="section-item">
                <div class="section-number">
                    <span class="section-digit">02</span>
                </div>
                <div>
                    <div class="section-name">Интеллектуальные технологии и системы</div>
                    <div class="text-typography">
                        Системы, способные на основе использования интеллектуальных технологий проектирования, алгоритмизации, анализа и хранения данных целенаправленно приобретать, воспроизводить и использовать знания.
                    </div>
                </div>
            </div>
            <div class="section-item">
                <div class="section-number">
                    <span class="section-digit">03</span>
                </div>
                <div>
                    <div class="section-name">Прикладной анализ данных</div>
                    <div class="text-typography">
                        Методы, алгоритмы и программные средства прикладного анализа данных.
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>